{% extends "base.html" %}
{% block content %}
<main class="mt-5 pt-4" xmlns="http://www.w3.org/1999/html">
   <div class="container dark-grey-text mt-5">
      <!--Grid row-->
      <div class="row wow fadeIn">
         <!--Grid column-->
         <!--Grid column-->
         <!--Grid column-->
         <div class="col-md-6 mb-4">
            <img src="{{ object.Product_Main_Img.url}}" class="img-fluid" alt="">
         </div>
         <div class="mb-3">
            <a href="">
            <span class="badge badge-pill red mr-1">{{ object.get_label_display }}</span>
            </a>
         </div>
         <p class="lead">
            <span class="mr-1">
            </span>
         <div>
            <span>${{ object.price }}</span> </br>
            </p>
            <p class="lead font-weight-bold">Description:</p>
            <p>{{ object.description }}</p>
            <form class="d-flex justify-content-left">
         </div>
      </div>
   </div>
   <!--Content-->
   </div>
   <!--Grid column-->
   </div>
   <!--Grid row-->
   <hr>
   <!--Grid row-->
   <div class="row d-flex justify-content-center wow fadeIn">
      <!--Grid column-->
      <div class="col-md-6 text-center">
         <p>created in Cleveland with love</p>
      </div>
      <!--Grid column-->
   </div>
   <!--Grid row-->
   <!--Grid row-->
   <!--Grid row-->
   </div>
</main>
{% endblock content %}