{% load crispy_forms_tags %}
        <html lang="pt-br">

        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="../../static/css/style.css">
        </head>

        <body>
        <div class="container">
            <div class="login">
                <div class="row">
                    <h2>login</h2>
                    <div class="col-md-12">
                        <form method="POST">
                            {% if next %}
                            <form action="/login/?next={{next}}" method="post">
                                {%else%}
                                <form action="/login/" method="post">
                                    {% endif %}
                            {% csrf_token %}
                            {{ login_form|crispy }}
                            <button class="btn btn-primary" type="submit">Login</button>
                        </form>
                                <p class="text-center"> <a href="logout">logout</a>.</p>
                        <p class="text-center">Don't have an account? <a href="/signup">Create an account</a>.</p>
                    </div>
                </div>
                <div>
                    {% for message in messages %}
                    <h3> {{message}} </h3>
                    {% endfor %}
                </div>
            </div>

        </div>
        </div>
        </div>
        </body>
        </html>



