
{% load crispy_forms_tags %}



<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
<div class="container">
    <div class="login">
        <div class="row">
            <h2>Sign Up</h2>
            {% block content %}
            <form method="POST">
                {% csrf_token %}
                {{ register_form|crispy }}
                <div class="col-md-6">
                    <button class="btn btn-primary" type="submit">Register</button>-
                </div>
            </form>
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" onclick="document.location.href='/login'">login
                </button>
            {% endblock %}

            </div>
            <div>
                {% for message in messages %}
                <h3> {{message}} </h3>
                {% endfor %}
            </div>

        </div>

    </div>
</div>
</div>
</div>
</body>
</html>



